/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}
.White-text{
  color: white;
}
.box-inner-box{
  background-color: red;
  padding: 10px;
}
p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  padding: 10px;
  border: 10px solid green;
}